{% import "./macros.njk" as macros %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Towtruck</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-stone-100 text-stone-800">
    <header class="bg-white">
      <nav class="w-full flex p-6 border-b-4 border-stone-200">
        <h1 class="text-3xl">Towtruck</h1>
      </nav>
    </header>

    <div class="container mx-auto flex flex-col mt-6 space-y-6">
      <div class="bg-stone-50 overflow-hidden rounded-lg border-b-4 border-stone-200 space-y-4">
        <h2 class="bg-white border-b-2 border-stone-100 text-xl font-bold p-4">{{ name }}</h2>
        <p class="mx-4">
          {% if totalRepos === 1 %}
          There is <span class="font-bold">1</span> repository
          {% else %} 
          There are <span class="font-bold">{{ totalRepos }}</span> repositories
          {% endif %}
          that Towtruck is tracking for <span class="font-bold">{{ org }}</span>.
        </p>
        <div class="mx-4">
          <table class="table-auto w-full mb-4 border-y border-stone-200">
            <thead class="bg-white border-b border-stone-200 text-left">
              <tr class="space-x-2">
                <th class="py-2 pl-2" scope="col">Name</th>
                <th class="py-2 pl-2" scope="col">Description</th>
                <th class="py-2 pl-2" scope="col">Language</th>
                <th class="py-2 pl-2" scope="col">Topics</th>
                {{macros.sortableTableHeader("Open issues count", "openIssues", sortDirection, sortBy)}}
                {{macros.sortableTableHeader("Open bot PR count", "openBotPrCount", sortDirection, sortBy)}}
                {{macros.sortableTableHeader("Open PR count", "openPrCount", sortDirection, sortBy)}}
                {{macros.sortableTableHeader("Updated at", "updatedAt", sortDirection, sortBy)}}
                {{macros.sortableTableHeader("Most recent PR opened", "mostRecentPrOpenedAt", sortDirection, sortBy)}}
                {{macros.sortableTableHeader("Oldest open PR opened", "oldestOpenPrOpenedAt", sortDirection, sortBy)}}
                {{macros.sortableTableHeader("Most recent issue opened", "mostRecentIssueOpenedAt", sortDirection, sortBy)}}
                {{macros.sortableTableHeader("Oldest open issue opened", "oldestOpenIssueOpenedAt", sortDirection, sortBy)}}
                <th class="py-2 pl-2 last:pr-2" scope="col">Dependencies</th>
              </tr>
            </thead>
            <tbody>
              {% for repo in repos %}
              <tr class="even:bg-white">
                <td class="py-2 pl-2" scope="row"><a target="_blank" class="text-blue-600 dark:text-blue-500 hover:underline" href="{{repo.htmlUrl}}">{{ repo.name }}</a></td>
                <td class="py-2 pl-2">{{ repo.description }}</td>
                <td class="py-2 pl-2">{{ repo.language }}</td>
                <td class="py-2 pl-2">{{ repo.topics | join(", ")}}</td>
                <td class="py-2 pl-2">{{ repo.openIssues }}</td>
                <td class="py-2 pl-2">{{ repo.openBotPrCount }}</td>
                <td class="py-2 pl-2">{{ repo.openPrCount }}</td>
                <td class="py-2 pl-2 last:pr-2">{{ repo.updatedAt }}</td>
                <td class="py-2 pl-2 last:pr-2">{{ repo.mostRecentPrOpenedAt }}</td>
                <td class="py-2 pl-2 last:pr-2">{{ repo.oldestOpenPrOpenedAt }}</td>
                <td class="py-2 pl-2 last:pr-2">{{ repo.mostRecentIssueOpenedAt }}</td>
                <td class="py-2 pl-2 last:pr-2">{{ repo.oldestOpenIssueOpenedAt }}</td>

                {% if repo.dependencies.length %}
                <td class="group py-2 pl-2 last:pr-2 align-text-top space-y-2">
                  <p>
                    {% if repo.dependencies.length === 1 %}
                    There is <span class="font-bold">1</span> dependency:
                    {% else %}
                    There are <span class="font-bold">{{ repo.dependencies.length }}</span> dependencies:
                    {% endif %}
                    <label>
                      <input class="hidden" type="checkbox" />
                      <span class="text-sm bg-stone-500 text-white rounded-lg py-1 px-2 hidden group-has-[:checked]:inline">Hide</span>
                      <span class="text-sm bg-stone-500 text-white rounded-lg py-1 px-2 group-has-[:checked]:hidden">Show</span>
                    </label>
                  </p>
                  <ul class="space-y-2 hidden group-has-[:checked]:block">
                    {% for dependency in repo.dependencies %}
                      <li>
                        <div class="inline-block whitespace-nowrap text-[0px]">
                          <span>
                            <span class="font-mono text-sm bg-{{ dependency.color }}-200 rounded-l-full last:rounded-r-full py-1 px-2">{{ dependency.name }}</span>
                            {% if dependency.version %}
                            <span class="font-mono text-sm bg-{{ dependency.color }}-300 last:rounded-r-full py-1 px-2">v{{ dependency.version }}</span>
                            {% endif %}
                            {% if dependency.tag %}
                            <span class="font-mono text-sm bg-{{ dependency.color }}-400 text-white last:rounded-r-full py-1 px-2">{{ dependency.tag }}</span>
                            {% endif %}
                          </span>
                          <span class="inline-block w-1"></span>
                          <span>
                            {% if dependency.isOutdated %}
                            <span class="font-mono text-sm bg-{{ dependency.color }}-500 text-white first:rounded-l-full last:rounded-r-full py-1 px-2">  
                              <i class="align-[-1px] bx {{dependency.icon}}"></i>
                              {{ dependency.changelog }}
                              v{{ dependency.latestVersion }}
                            </span>
                            {% endif %}
                            {% if dependency.isEndOfLifeSoon %}
                            <span class="font-mono text-sm bg-{{ dependency.color }}-600 text-white first:rounded-l-full last:rounded-r-full py-1 px-2">
                              <i class="align-[-1px] bx bxs-hourglass"></i>
                              <span class="font-sans">Support ends {{ dependency.endOfLifeRelative }}</span>
                            </span>
                            {% elif dependency.isOutOfSupport %}
                            <span class="font-mono text-sm bg-{{ dependency.color }}-600 text-white first:rounded-l-full last:rounded-r-full py-1 px-2">
                              <i class="align-[-1px] bx bxs-hourglass-bottom"></i>
                              <span class="font-sans">Support ended {{ dependency.endOfLifeRelative }}</span>
                            </span>
                            {% endif %}
                          </span>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </td>
                {% else %}
                  <td class="py-2 px-2 text-center text-stone-400 font-light italic">
                    No dependencies have been discovered.
                    <br/>
                    Please make sure that Renovate has been configured on the repository to produce a dependency dashboard.
                  </td>
                {% endif %}
             
              </tr>
              {% else %}
              <tr>
                <td class="py-2 px-2 text-center text-stone-400 font-light italic">No repositories found.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
