<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Towtruck</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <h1>Towtruck</h1>

    <table>
      <caption>
        dxw's repos
      </caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        {% for repo in repos %}
        <tr>
          <td>{{ repo.name }}</td>
        </tr>
        {% else %}
        <tr>
          <td>No repos found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
