{# Workaround for setting cookies while using SameSite=Strict from https://stackoverflow.com/a/71467131 #}
<!DOCTYPE html>
<html>
    <head><meta http-equiv="refresh" content="0; url='/'"></head>
    <body></body>
</html>
